body {
    background: url(images/backgroundlake_test.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'EB Garamond', serif;
}

.navbar {
    border-bottom: 1.5px solid white;
    background-color: rgb(52, 49, 94);
}

.navbar a,
form {
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.dropdown-menu {
    background-color: lightslategray;
}
#ourStory{
    margin-top: 5%;
    color: white;
}
.heading{
    font-family: 'EB Garamond', serif;
    font-family: 'Merriweather', serif;
}
/*#famelyImage{
  background-image: url(./images/famileyImage.jpg);
  width: 300px;
  height: 300px;
}*/
.famelyImage{
    width: 100%;
    height: 100%;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
      background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

  .icon {
      border-radius: 50%;
      border: 1.5px solid white;
  }
  
  .content {
    margin-left: 75px;
    font-size: 30px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}