body {
    background-image: url("images/backgroundlake_test.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'EB Garamond', serif;
}

.navbar {
    border: 1.5px solid white;
    background-color: rgb(52, 49, 94);
    width: 90%;
}

.navbar a,
form {
    font-family: 'Merriweather', serif;
    font-size: 18px;
}

.dropdown-menu {
    background-color: lightslategray;
}